# Ignore everything but dotfiles
*
!.*

# Ignore .password-store since it's its own repo
.password-store/

# Ignore all history files
.*_history

# Ignore WSL artifacts
.hushlogin
.motd_shown
.sudo_as_admin_successful
