[user]
	name = Gianluca Recchia
	email = gianluca.recchia97@gmail.com
	signingkey = 3C2B4128D9A1F218
[commit]
	gpgsign = true
	verbose = true
[core]
	autocrlf = input
	pager = less -x1,5
[alias]
	ignore = !curl -sl https://www.gitignore.io/api/$(echo $@ | tr -s [:blank:] ,)
	tree = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	pristine = !git reset --hard && git clean -fdx
	d = diff
	c = commit
	co = checkout
	s = status
	ps = push
	pl = pull
	dc = diff --cached
	l = log
	rs = restore
	rss = restore --staged
	sh = show
	can = commit --amend --no-edit
	rb = rebase
	rbc = rebase --continue
	rba = rebase --abort
	rl = reflog
	ca = commit --amend
	squeeze = !git reflog expire --all --expire=now && git gc --prune=now --aggressive
	enable-hooks = !rename '.sample' '' .git/hooks/{prepare-commit-msg,pre-push}.sample
	dance = !git add -A && git commit -m 'Initial commit'
	select = !git status --porcelain -z | fzf --multi --exit-0 --read0 --print0 | sed -z 's/^\\s\\w\\s//' | xargs -r0 git add
[url "git@github.com:"]
	insteadOf = gh:
[url "git@gitlab.com:"]
	insteadOf = gl:
[url "https://aur.archlinux.org/"]
	insteadOf = aur:
[difftool "ediff"]
	cmd = emacsclient -c --eval \"(ediff-files \\\"$LOCAL\\\" \\\"$REMOTE\\\")\"
[mergetool "emerge"]
	cmd = emacsclient -c --eval \"(emerge-files \\\"$LOCAL\\\" \\\"$REMOTE\\\" \\\"$MERGED\\\")\"
[diff]
	guitool = ediff
[merge]
	guitool = emerge
