[user]
	name = Gianluca Recchia
	email = gianluca.recchia@protonmail.com
	signingkey = 3C2B4128D9A1F218
[commit]
	gpgsign = true
	verbose = true
[core]
	autocrlf = input
	pager = less -x1,5
[alias]
	ignore = !curl -sLw '\n' "https://www.toptal.com/developers/gitignore/api/$(echo $@ | tr -s [:blank:] ,)"
	lol = log --graph --pretty=birdseye
	pristine = !git reset --hard && git clean -fdx
	squeeze = !git reflog expire --all --expire=now && git gc --prune=now --aggressive
	dance = !git add -A && git commit -m 'Initial commit'
	psu = !git push -u "${1:-origin}" "$(git rev-parse --abbrev-ref HEAD)"
	root = rev-parse --show-toplevel
	dsclone = "!repo=\"$1\" && \
		shift && \
		git clone git@github.com:desotech-it/\"$repo\".git \"$@\" && \
		git -C \"$repo\" desotech"
	desotech = !git config --local user.email g.recchia@desotech.it && git config --local commit.gpgSign false
[url "git@github.com:"]
	insteadOf = gh:
[url "git@gitlab.com:"]
	insteadOf = gl:
[url "https://aur.archlinux.org/"]
	insteadOf = aur:
[pull]
	rebase = true
[pretty]
	birdseye = %C(auto)%h%d% s %C(bold blue)<%aN> %C(green)(%cr)%Creset
[init]
	defaultBranch = main
