# Ignore anything except for dotfiles
/[^.]*

# Ignore anything but ~/.ssh/config
/.ssh/*
!/.ssh/config

# Zsh
/.zcomp*
/.zsh_sessions/
/.local/share/zsh/plugins/

# Completion scripts
_*

# Ignore .password-store since it's its own repo
/.password-store/

# Ignore misc repos folder
/.local/share/repos/

# History files
.*_history

# WSL artifacts
/.hushlogin
/.motd_shown
/.sudo_as_admin_successful

# Vim stuff
/.vim
/.viminfo
/.vimrc

# Ignore ~/.git-prompt.sh and ~/.git-completion.sh symlinks
/.git-prompt.sh
/.git-completions.sh

# Cloud platforms config data (created by Docker for Windows)
/.aws
/.azure

# Docker stuff
/.docker/

# Misc
/.wget-hsts
/.nvimlog
/.Xauthority
/.gtkrc-2.0
/.fonts.conf

# Ignore cache directory
/.cache

# Ignore Kubernetes data
/.kube

# Ignore dotfiles Git repo
/.dotfiles.git

# GNUPG
/.gnupg/*
!/.gnupg/gpg-agent.conf

# Ignore user binaries
/.local/bin/

# Ignored config
!/.local/share/cargo/config.toml
/.anyconnect
/.bundle/
/.cisco/
/.config/Code/
/.config/helm/
/.config/htop/
/.config/iterm2/
/.config/nvim/
/.config/packer/
/.config/wireshark/
/.config/zed/
/.gem/
/.local/share/cargo/*
/.local/share/fzf/
/.local/share/go/
/.local/share/mkcert/
/.local/share/nvim/
/.local/share/rustup/
/.local/share/tmux/
/.terraform.d/

# State folder
/.local/state/

# Powerlevel10k config
/.p10k.zsh

# HashiCorp Vault token
/.vault-token

# zsh-z
/.z

# irssi folder
/.irssi/

# VSCode folder
/.vscode/

# Gradle
/.local/share/gradle/
/.gradle/

# Maven
/.m2/

# LLDB
/.lldb/

# WireGuard
/.vpn/
