# Include global configuration
$include /etc/inputrc

# Color the common prefix
set colored-completion-prefix on

# Complete files in a case-insensitive fashion
set completion-ignore-case on

# Mark symlinked directories
set mark-symlinked-directories on

# Color the common prefix in menu-complete
set menu-complete-display-prefix on

# Show completion list when the completing word has more than one possible completion
set show-all-if-ambiguous on

# Show completion list if no partial completions are available
set show-all-if-unmodified on

# Append char to indicate type
set visible-stats on

# Disable bell sound
set bell-style none

# Bracketed paste pastes control characters as-is without intepreting them
# Useful when pasting commands that contain a new-line character at the end as they won't be
# executed upon paste
set enable-bracketed-paste on
